<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Misc -->
    <add key="OpenFileInNewWindow" value="false"/>
    <add key="DefaultInstrumentProfileId" value=""/>
    <add key="InstrumentProfileChangeConfirmation" value="true"/>

    <!-- Viewer -->
    <add key="KeepImageDataLoaded" value="false"/>
    <add key="AutoLoadMaxImageCount" value="64"/>
    <add key="MaxImageSize" value="805306368"/>
    <add key="MaxImageWidth" value="8192"/>
    <add key="MaxImageHeight" value="8192"/>
    <add key="MaxThumbnailWidth" value="256"/>
    <add key="MaxThumbnailHeight" value="256"/>

    <!-- Evaluation -->
    <add key="DefaultEvaluationFormulaPath" value=""/>
    <add key="DefaultEvaluationGrouping" value="Object,Filter"/>

    <!-- Voyager Integration -->
    <add key="VoyagerIntegrationEnabled" value="false"/>
    <add key="VoyagerAddress" value="127.0.0.1" />
    <add key="VoyagerPort" value="5950" />
    <add key="VoyagerUsername" value="admin" />
    <add key="VoyagerPassword" value="YWRtaW4=" />
    <add key="RoboTargetSecret" value="" />
  </appSettings>
</configuration>