<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Viewer -->
    <add key="AutoLoadMaxImageCount" value="64"/>
    
    <!-- Voyager Integration -->
    <add key="VoyagerIntegrationEnabled" value="false"/>
    <add key="VoyagerAddress" value="127.0.0.1" />
    <add key="VoyagerPort" value="5950" />
    <add key="VoyagerUsername" value="admin" />
    <add key="VoyagerPassword" value="YWRtaW4=" />
    <add key="RoboTargetSecret" value="" />
  </appSettings>
</configuration>